<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>CAS Resource List Fragment</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag" />
</head>
<body>
<main role="main" class="container mt-3 mb-3">
    <div th:fragment="cas-resource-list" id="cas-resource-list" class="card d-sm-none d-md-block">
        <div class="card-body">
            <h3 class="card-title" th:text="#{cas.login.resources.header}">Note:</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <p> ince CAS does not support Single Sign-Out as of now, please make sure you logout from all the applications and close the browser window when you have finished using the system. </p>
                </li>
                <li class="list-group-item">
                    <p> IT Support will NEVER ask for your password and/or any other personal information. Please do not reply to any such mail and report them immediately to IT support </p>
                </li>
                <li class="list-group-item">
                    <p> It is recommended you choose a strong password since this single password is your gateway to all the computing resources at IIIT-H </p>
                </li>
            </ul>
        </div>
    </div>
</main>
</body>
</html>
