<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Footer Fragment</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag" />
</head>
<body>
    <footer th:fragment="footer" class="footer" role="contentinfo" style="background-color: transparent; position: relative;">
        <div class="container text-center" style="border-top: 1px solid black;">
            <span style="color:#212529"> © International Institute of Information Technology, Hyderabad  </span>
        </div>
    </footer>
</body>
</html>
